<launch>
    <arg name="output" default="screen"/>
    <arg name="test" default="true"/>
    <arg name="bagfile" default="/home/chao/Workspace/bag/pennapps/apriltag3.bag"/>
    <arg name="camera" default="/mv_25001185"/>
    <arg name="ns" default="apriltag"/>
    <arg name="detector" default="true"/>
    <arg name="mapper" default="true"/>

    <include unless="$(arg test)" file="$(find bluefox2)/launch/single_node.launch">
        <arg name="serial" value="25001185"/>
        <arg name="binning" value="true"/>
    </include>

    <!--Rosbag-->
    <node if="$(arg test)" pkg="rosbag" type="play" name="player"
        output="log" args="$(arg bagfile)">
    </node>

    <!--Detector Node-->
    <include if="$(arg detector)"
        file="$(find apriltag_ros)/launch/detector.launch">
        <arg name="camera" value="$(arg camera)"/>
        <arg name="ns" value="$(arg ns)"/>
    </include>

    <!-- Mapper Node -->
    <include if="$(arg mapper)"
        file="$(find apriltag_ros)/launch/mapper.launch">
        <arg name="camera" value="$(arg camera)"/>
        <arg name="ns" value="$(arg ns)"/>
    </include>

    <!--Rviz-->
    <node name="rviz" pkg="rviz" type="rviz"
        args="--display-config $(find apriltag_ros)/config/apriltag.rviz">
    </node>
</launch>
