<launch>
    <arg name="width" default="640"/>
    <arg name="height" default="480"/>

    <node pkg="apriltag_node" type="camera_node" name="camera" output="screen" >
        <param name="width" type="int" value="$(arg width)"/>
        <param name="height" type="int" value="$(arg height)"/>
    </node>

</launch>
