<launch>
    <arg name="camera" default="/camera"/>
    <arg name="family" default="36h11"/>	<!-- Tag family currently hardcoded -->
    <arg name="size" default="0.198"/>		<!-- Tag size parameter -->

    <node pkg="aprilslam" type="detector_node" name="detector" output="screen" ns="$(arg camera)">
        <param name="family" type="string" value="$(arg family)"/>
        <param name="size" type="double" value="$(arg size)"/>
    </node>

</launch>
